# Ignore compiled code
dist

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# Optional npm cache directory
.npm
.npmrc

# Output of 'npm pack'
*.tgz

.homebridge
hubs.md
.DS_Store
.idea
/script/
